.venv/*
AUTHORS
.idea/*
*.pyc
builds/*
dist/*
build/*
pebble.egg-info/*
ChangeLog
tools/docker-compose.yml
tools/pebble.conf
.project
.pydevproject
.settings/*
.ropeproject/
*.swo
*.swp
mysite/db.sqlite3
